* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #65f6e3 0%, #4a6f9b 100%);
  color: white; */
  background: url("./img.png");
  background-repeat: no-repeat;
  background-size: 1500px 620px;
}

i {
  padding: 0.5rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: green;
}
